<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.play.mapper.SysMenuInfoMapper">

    <insert id="addSysMenuInfo" parameterType="sysMenuInfo">
        insert into t_sys_menu_info
        values (null, #{name}, #{title}, #{jump}, #{icon}, #{level}, #{pId}, now(), #{createUser}, default);
    </insert>

    <select id="getSysMenuInfoByPid" resultType="sysMenuInfoTreeVO">
        select `id`,  `title`, `icon`, `href`,`target`
        from t_sys_menu_info
        where
        <if test="pId==null">
            pid =0
        </if>
        <if test="pId!=null">
            pid =#{pId}
        </if>
    </select>
    <select id="getSysMenuInfoByUserIdAndPid" resultType="sysMenuInfoTreeVO">
        SELECT menu.`id`, menu.`title`, menu.`icon`, menu.`href`,menu.`target`
        from t_sys_menu_info menu
        LEFT JOIN t_role_menu rm on rm.menu_id=menu.id
        LEFT JOIN t_role_user ru on ru.role_id =rm.role_id
        WHERE ru.user_id=#{userId}
        <if test="pId==null">
            AND menu.pid=0
        </if>
        <if test="pId!=null">
            AND menu.pid=#{pId};
        </if>
    </select>
</mapper>